<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a routerLink="/home">
      <div class="navbar-brand">
        <div class="logo flex-center">
          <img src="/assets/image/cocktail-logo.png" alt="brand-logo" width="40" height="50" />
          <div class="fs-3 fw-bold ms-2">TheCocktail</div>
        </div>
      </div>
    </a>
    <form class="d-flex" role="search" (ngSubmit)="onSubmit()">
      <input class="form-control me-2" name="search" type="search" aria-label="Search "
        placeholder="Search Cocktails..." [(ngModel)]="formData.search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>