<app-navbar></app-navbar>
<div class="cus-container">
  <router-outlet></router-outlet>
  <button type="button" class="btn btn-primary ">home</button>
  <a [routerLink]="['/cocktails']" routerLinkActive="activebutton">
    <button type="button" class="btn btn-primary ">cocktail-list</button></a>
  <a [routerLink]="['/cocktails','beer']" routerLinkActive="activebutton">
    <button type="button" class="btn btn-primary ">cocktail</button></a>
  <a [routerLink]="['/ingredient',3242]" routerLinkActive="activebutton">
    <button type="button" class="btn btn-primary ">ingredient</button></a>
</div>